<div id="wrapper">
    <section id="content" role="main" class="group">
        <div>

            <header class="page-header group">
                <hgroup>
                    <h1 class="heading-xlarge">Apostille verified</h1>
                </hgroup>
            </header>

            <header class="page-header group printHide">
                <hgroup>
                    <h1 class="heading-medium">Validation successful for the following details</h1>
                </hgroup>
            </header>
	<div class="inner">
					
        <table class="resultItem">
            <tr class="apostRow">
                <td class="aspostLabelCell"><b>Apostille number</b></td>
                <td><%= ApostilleNumber%></td>
            </tr>
            <tr class="apostRow">
                <td class="aspostLabelCell"><b>Date of issue</b></td> 
                <td><%= moment(DateIssued).format('D MMMM YYYY')%></td>
            </tr>
            <tr class="apostRow">
                <td class="aspostLabelCell"><b>Has been signed by</b></td>
                <td><%= SignedBy%></td>
            </tr>
            <tr class="apostRow">
                <td class="aspostLabelCell"><b>Acting in the capacity of</b></td> 
                <td><%= ActingCapacityOf%></td>
            </tr>
                        
            <tr class="apostRow">
                <td class="aspostLabelCell"><b>Bears the stamp / seal of</b></td>
                <td><%= BearsStampSeal%></td>
            </tr>

            <tr class="apostRow">
                <td class="aspostLabelCell"><b>Issued by</b></td>
                <td><%= IssuedBy%></td>
            </tr>

        </table>
        <p>
            All paper apostilles (legalisation certificates) issued by the Legalisation Office bear a raised and embossed imprint of the Foreign and Commonwealth Office crest.
            This embossed imprint should also appear immediately below on the document to which the apostille is attached.
        </p>

		<div class="step current actionButtons">
			<p class="action group">
				<a class="button" href="/verify">Start again</a>
				<br />
				<br />
            <input type="button" value="Print" onclick="window.print()" class="button-secondary" />
			</p>
		</div>
	</div>

        <script type="text/javascript">

            var win;
	
            function resetForm() {
                window.location.replace('/VerifyApostille');
                if (win != null) {
                    win.close();
                }
            }
        </script>


        </div>
    </section>
</div>
