<% pageTitle = "Apostille verified" %>

<h1 class="govuk-heading-xl">Apostille verified</h1>

<section id="content" class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">
    <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Apostille number
            </dt>
            <dd class="govuk-summary-list__value">
                <%= ApostilleNumber%>
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Date of issue
            </dt>
            <dd class="govuk-summary-list__value">
                <%= moment(DateIssued).format('D MMMM YYYY')%>
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Has been signed by
            </dt>
            <dd class="govuk-summary-list__value">
                <%= SignedBy%>
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Acting in the capacity of
            </dt>
            <dd class="govuk-summary-list__value">
                <%= ActingCapacityOf%>
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Bears the stamp / seal of
            </dt>
            <dd class="govuk-summary-list__value">
                <%= BearsStampSeal%>
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Issued by
            </dt>
            <dd class="govuk-summary-list__value">
                <%= IssuedBy%>
            </dd>
        </div>
    </dl>

    <p class="govuk-body">
        All paper apostilles (legalisation certificates) issued by the Legalisation Office bear a raised and embossed imprint of the Foreign and Commonwealth Office crest.
        This embossed imprint should also appear immediately below on the document to which the apostille is attached.
    </p>

    <div>
        <a class="govuk-button actionButtons" draggable="false" href="/verify" role="button">Start again</a>
        <br />
        <button onclick="window.print()" class="govuk-button govuk-button--secondary actionButtons">
            Print
        </button>
    </div>

    <script type="text/javascript">

        var win;

        function resetForm() {
            window.location.replace('/VerifyApostille');
            if (win != null) {
                win.close();
            }
        }

    </script>
</div>
</section>
