<% pageTitle = "Verify an apostille - GOV.UK" %>
<section id="content">
    <h1 class="govuk-heading-l">Validation successful for the following details</h1>

    <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Apostille number
            </dt>
            <dd class="govuk-summary-list__value">
                <%= ApostilleNumber%>
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Date of issue
            </dt>
            <dd class="govuk-summary-list__value">
                <%= moment(DateIssued).format('D MMMM YYYY')%>
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Has been signed by
            </dt>
            <dd class="govuk-summary-list__value">
                <%= SignedBy%>
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Acting in the capacity of
            </dt>
            <dd class="govuk-summary-list__value">
                <%= ActingCapacityOf%>
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Bears the stamp / seal of
            </dt>
            <dd class="govuk-summary-list__value">
                <%= BearsStampSeal%>
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Issued by
            </dt>
            <dd class="govuk-summary-list__value">
                <%= IssuedBy%>
            </dd>
        </div>
    </dl>
    <p class="govuk-body">
        All paper Apostilles/Legalisation Certificates, issued by the Legalisation Office bear
        a raised embossed imprint of the Foreign, Commonwealth and Development Office Crest. This embossed imprint should also appear
        immediately below on the underlying document.
    </p>

    <script type="text/javascript">
        window.print();
    </script>
</section>