<% pageTitle = "Verify an apostille - GOV.UK" %>
<div id="wrapper">
    <section id="content" role="main" class="group">
        <div>

        <header class="page-header group">
            <hgroup>
	        <h1 class="govuk-heading-xl">Apostille verified</h1>
            </hgroup>
        </header>

	<div class="inner">

        <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Apostille number
                </dt>
                <dd class="govuk-summary-list__value">
                    <%= ApostilleNumber%>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Date of issue
                </dt>
                <dd class="govuk-summary-list__value">
                    <%= moment(DateIssued).format('D MMMM YYYY')%>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Has been signed by
                </dt>
                <dd class="govuk-summary-list__value">
                    <%= SignedBy%>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Acting in the capacity of
                </dt>
                <dd class="govuk-summary-list__value">
                    <%= ActingCapacityOf%>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Bears the stamp / seal of
                </dt>
                <dd class="govuk-summary-list__value">
                    <%= BearsStampSeal%>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Issued by
                </dt>
                <dd class="govuk-summary-list__value">
                    <%= IssuedBy%>
                </dd>
            </div>
        </dl>

        <p class="govuk-body-s">
            All paper apostilles (legalisation certificates) issued by the Legalisation Office bear a raised and embossed imprint of the Foreign and Commonwealth Office crest.
            This embossed imprint should also appear immediately below on the document to which the apostille is attached.
        </p>

        <!--input data-val="true" data-val-number="The field LogId must be a number." data-val-required="The LogId field is required." id="LogId" name="LogId" type="hidden" value="45837" /><input data-val="true" data-val-length="The field Apostille Number must be a string with a maximum length of 20." data-val-length-max="20" data-val-required="The Apostille Number field is required." id="ApostilleNumber" name="ApostilleNumber" type="hidden" value="K938863" /><input data-val="true" data-val-date="The field DateIssued must be a date." data-val-required="The DateIssued field is required." id="DateIssued" name="DateIssued" type="hidden" value="09/04/2016 08:45:03" / -->

		<div class="step current">
			<p class="action group">
				<a class="button" href="/verify">Start again</a>
				<br />
				<br />
				<input type="button" value="Print" onclick=" PrintWin(); " class="button-secondary" />
			</p>
		</div>
	</div>

        <script type="text/javascript">

            var win;

            function resetForm() {
                window.location.replace('/VerifyApostille');
                if (win != null) {
                    win.close();
                }
            }

            function PrintWin() {
                var url = '/print';
                win = window.open(url, 'winPrint', 'height=500,width=650,toolbar=0,location=0,status=0,menubar=0');
            }

        </script>


        </div>
    </section>
</div>
