<div id="wrapper">
    <section id="content" role="main" class="group">
        <div>
            <header class="page-header group">
                <hgroup>
                    <h1 class="heading-medium">Validation successful for the following details</h1>
                </hgroup>
            </header>

            <div class="inner">
                <table class="resultItem">
                    <tr class="apostRow">
                        <td class="aspostLabelCell"><b>Apostille number</b></td>
                        <td><%= ApostilleNumber%></td>
                    </tr>
                    <tr class="apostRow">
                        <td class="aspostLabelCell"><b>Date of issue</b></td>
                        <td><%= moment(DateIssued).format('Do MMMM YYYY')%></td>
                    </tr>
                    <tr class="apostRow">
                        <td class="aspostLabelCell"><b>Has been signed by</b></td>
                        <td><%= SignedBy%></td>
                    </tr>
                    <tr class="apostRow">
                        <td class="aspostLabelCell"><b>Acting in the capacity of</b></td>
                        <td><%= ActingCapacityOf%></td>
                    </tr>

                    <tr class="apostRow">
                        <td class="aspostLabelCell"><b>Bears the stamp / seal of</b></td>
                        <td><%= BearsStampSeal%></td>
                    </tr>

                    <tr class="apostRow">
                        <td class="aspostLabelCell"><b>Issued by</b></td>
                        <td><%= IssuedBy%></td>
                    </tr>

                </table>
                <p>
                    All paper Apostilles/Legalisation Certificates, issued by the Legalisation Office bear
                    a raised embossed imprint of the Foreign and Commonwealth Office Crest. This embossed imprint should also appear
                    immediately below on the underlying document.
                </p>
            </div>

            <script type="text/javascript">
                window.print();
            </script>
        </div>
    </section>
</div>