<%
function checkError(id){
    for(var i=0;i<error_report.length;i++) {
        if(error_report[i].link == id) {
            return true;
        }
    }
}
%>

<div id="content" role="main">
    <h1 class="heading-xlarge">Verify an Apostille</h1>
    <div class="column-two-thirds" id="find-apostille">

        <form action="/details" method="post">
            <fieldset>
                <legend class="visuallyhidden">Verify an Apostille</legend>

                <%if (typeof(error_report)!='undefined' && error_report) {%>
                <div class="error-summary" role="group"    tabindex="-1">
                    <h2 class="heading-medium error-summary-heading" id="error-summary-heading">
                        Please check the form
                    </h2>
                    <ul class="error-summary-list nopadding">
                        <%for(var i=0;i<error_report.length;i++){%>
                        <li><a href="#<%= error_report[i].link%>"><%= error_report[i].message%></a></li>
                        <%}%>
                    </ul>
                </div>
                <%}%>

                <div class="inline group <%if(error_report && checkError("date-container")){%>error<%}%>" id="date-container" >
                    <label class="lWidth searchDate">Date of the Apostille - dd/mm/yyyy</label>
                    <%if(error_report && checkError("date-container")){%><span class="error-message">Enter valid date</span><%}%>
                    <label for="ApostDay" class="visually-hidden">Day in dd format</label>
                    <input class="form-control form-control-1-8" autocomplete="off" id="ApostDay"  size="2" maxlength="2" name="ApostDay" type="text" value="<%= (apost_dd) ? apost_dd : '' %>" /> /

                    <label for="ApostMonth" class="visually-hidden">Month in mm format</label>
                    <input class="form-control form-control-1-8" autocomplete="off" id="ApostMonth" size="2" maxlength="2" name="ApostMonth" type="text" value="<%= (apost_mm) ? apost_mm : '' %>" /> /

                    <label for="ApostYear" class="visually-hidden">Year in yyy format</label>
                    <input class="form-control form-control-1-8" autocomplete="off" id="ApostYear" size="4" maxlength="4" name="ApostYear" type="text" value="<%= (apost_yyyy) ? apost_yyyy : '' %>" />
                </div>

                <br/>
                <div class="form-group <%if(error_report && checkError("ApostNumber")){%>error<%}%>">
                    <label for="ApostNumber" id="apostLabel">Enter Apostille number e.g. A090123 </label>
                    <%if(error_report && checkError("ApostNumber")){%><span class="error-message"> Enter Apostille number</span><%}%>
                    <input autocomplete="off" id="ApostNumber" class="form-control form-control-1-3" size="9" maxlength="8" name="ApostNumber" type="text" value="<%= (apost_number) ? apost_number : '' %>" />
                </div>

                <br />

                <p class="action group">
                    <input class="button" type="submit" value="Verify" id="submitValidation" />   <br /><br />
                    <input class="button-secondary" type="button" value="Clear entry" id="reset" onClick="location.href='/verify';" />
                </p>

            </fieldset>
        </form>
    </div>
</div>
