<%if (typeof(error_report)!='undefined' && error_report) {
    pageTitle = "Error: Verify an apostille - GOV.UK"
} else {
    pageTitle = "Verify an apostille - GOV.UK"
}%>
<%
function checkError(id){
    for(var i=0;i<error_report.length;i++) {
        if(error_report[i].link == id) {
            return true;
        }
    }
}
%>

<div id="content" role="main">
    <h1 class="heading-xlarge">Verify an apostille</h1>
    <div class="column-two-thirds" id="find-apostille">

        <form action="/details" method="post">
            <!--input type='hidden' name='_csrf' value='<%= _csrf %>'-->
            <%if (typeof(error_report)!='undefined' && error_report) {%>
            <div class="error-summary" role="group" tabindex="-1">
                <h2 class="heading-medium error-summary-heading" id="error-summary-heading">
                    We can't verify this apostille
                </h2>
                <ul class="error-summary-list nopadding">
                    <%for(var i=0;i<error_report.length;i++){%>
                    <li><a href="#<%= error_report[i].link%>"><%= error_report[i].message%></a></li>
                    <%}%>
                </ul>
            </div>
            <%}%>

            <div class="inline group <%if(error_report && checkError("date-container")){%>error<%}%>" id="date-container">
                <fieldset aria-describedby="dob-hint">
                    <legend>
                        <span class="form-label-bold">
                            What is the date of the apostille?
                        </span>
                        <span class="form-hint" id="dob-hint">For example, 31 3 1980</span>
                    </legend>

                    <%if(error_report && checkError("date-container")){%><span class="error-message">Check the date</span><%}%>
                    <div class="apostille-date-input__item">
                        <div class="group">
                            <label for="ApostDay">Day</label>
                            <input class="form-control form-control-1-8 apostille-input--width-2" autocomplete="off" id="ApostDay" size="2" maxlength="2" name="ApostDay" type="text" pattern="[0-9]*" inputmode="numeric" value="<%= (apost_dd) ? apost_dd : '' %>" />
                        </div>
                    </div>
                    <div class="apostille-date-input__item">
                        <div class="group">
                            <label for="ApostMonth">Month</label>
                            <input class="form-control form-control-1-8 apostille-input--width-2" autocomplete="off" id="ApostMonth" size="2" maxlength="2" name="ApostMonth" type="text" pattern="[0-9]*" inputmode="numeric" value="<%= (apost_mm) ? apost_mm : '' %>" />
                        </div>
                    </div>
                    <div class="apostille-date-input__item">
                        <div class="group">
                            <label for="ApostYear">Year</label>
                            <input class="form-control form-control-1-8 apostille-input--width-4" autocomplete="off" id="ApostYear" size="4" maxlength="4" name="ApostYear" type="text" pattern="[0-9]*" inputmode="numeric" value="<%= (apost_yyyy) ? apost_yyyy : '' %>" />
                        </div>
                    </div>
                </fieldset>
            </div>

            <br/>
            <div class="form-group <%if(error_report && checkError("ApostNumber")){%>error<%}%>">
                <legend>
                    <span class="form-label-bold">
                        <label for="ApostNumber">What is the apostille number?</label>
                    </span>
                    <span class="form-hint" id="apostille-hint">For example, A090123 or APO-123</span>
                </legend>
                <!--label for="ApostNumber" id="apostLabel">What is the apostille number? For example A090123 or APO-123</label-->
                <%if(error_report && checkError("ApostNumber")){%><span class="error-message"> Check the apostille number</span><%}%>
                <input autocomplete="off" id="ApostNumber" class="form-control form-control-1-3" size="21" maxlength="20" name="ApostNumber" type="text" value="<%= (apost_number) ? apost_number : '' %>" />
            </div>

            <br />

            <p class="action group">
                <input class="button" type="submit" value="Verify" id="submitValidation" />   <br /><br />
                <!--input class="button-secondary" type="button" value="Clear all data" id="reset" onClick="location.href='/verify';" / -->
                <a href="/verify">Clear all data</a>
            </p>
        </form>
    </div>
</div>
<%if (typeof(error_report)!='undefined' && error_report) {%>
<script>
    var error_summary_element = document.querySelector('#error-summary-heading')
    error_summary_element.scrollIntoView()
    error_summary_element.focus()
</script>
<%}%>